/*Mobile*/
* {
    font-family: "Sen" , sans-serif;
    font-weight: 100;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}

body {
    height:4000px;

}

.nav_mobile{
    display: grid;
    position: fixed;
    z-index: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header header button"
    "cargo  cargo  button"
    
   ;
    height: 140px;
    background-color:#33AFFF;
    width: auto;
 

}

.grid_nombre {
    grid-area: header;
    margin-top: 10px;
    margin-left: 10px;

}

.grid_politico {
    grid-area: cargo;
}

.nombre_candidato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-size: 2.8rem;
    letter-spacing:10px;
    
}

.nav__responsive-button-container{
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav__responsive-button{

    color:#F9FF33;
    font-size: 4rem;

}

.cargo{
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-size: 2.2rem;
    letter-spacing:10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/* Findel NAV*/


.img_inicio{

    width: 100%;
    

}

.imagen{

    width: 100%;
    padding-top: 140px;
}

.art_eslogan{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 800px;
    margin-top: 50px;
    width: 100%;
    
    color: white;

}

.eslogan{
    height: 700px;
    width: 80%;
    font-size: 4rem;
    font-style: italic;
    background-color:#33AFFF;
    text-align: center;
    padding-top: 75px;
    
}

.art_img_concejal{
    width: 100%;
    height: 1000px;
    margin-top: 100px;

}





.art_conoceme{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 400px;

    margin-top: 50px;

    
}

.cont_conoceme{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 100px;
    width: 80%;
    height: 400px;
    text-align: center;
    background-color:#33AFFF;

}

.art_caracteristicas{
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 4rem;
    color: #ffff;
    padding-top: 20px;
    


}

.button_conoceme{
    font-size: 3rem;
    background-color:#33AFFF;
    grid-column: 2/4;
    grid-row: 2/4;
    color:#F9FF33;
}



.div_proyectospropuestos{

    width: 100%;
    height: 1000px;
    display: flexbox;


}

.cont_propuestas{

    margin-top: 50px;
    width: 100%;
    height: 600px;
   
}

.titulo_proyecto{

    margin-top: 400px;
    margin-bottom: 0;
    font-size: 5rem;
    
}

.img_carousel{

    width: 100%;
    height: 600px;
    object-fit:contain;

}

.text_carousel_h1{
    color: #000000  ;
    font-size: 5rem;
}

.text_carousel_p{
    color: #000000  ;
    font-size: 2rem;
}

.img_carousel{
    opacity: 0.6;

}