/* BANNERS
========================= */
.banner {margin: 0; padding: 0; display: block; overflow: hidden; border-radius: 5px; opacity: 1; transition: opacity .3s ease-in-out;}
.banner:hover {opacity: 0.8;}
.banner > img {width: 100%; height: 100%; vertical-align: bottom;}

.banner.bnr01,
.banner.bnr02,
.banner.bnr03,
.banner.bnr04 {height: 80px;}

.banner.bnr05 > img , .banner.bnr06 > img {height: auto;}

@media only screen and (max-width : 991px) {

	.banner.bnr03 {height: 150px;}
	.banner.bnr05, .banner.bnr06 {display: none;}

}

@media only screen and (max-width : 768px) {

	.banner > img {height: auto;}
	.banner.bnr01,
	.banner.bnr02,
	.banner.bnr03,
	.banner.bnr04 {height: auto;}

}